
*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    padding: 0;
    margin: 0;
}
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 72px;
    background-color: #47B5FF;
    box-shadow: rgb(4 17 29 / 50%) 0 0 15px 0;
}
#header-left {
    width: 30%;
    height: inherit;
    margin-left: 30px;
    padding: 0 30px 0 0;
}
#header-right{
    display: flex;
    align-items: center;
    width: 70%;
    height: inherit;
    margin-right: 20px;
}
#logo {
    display: flex;
    align-items: center;
    width: 20%;
    height: inherit;
}
#logo a{
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
}
#logo h1 {
    font-size: 30px;
    margin: 0 0 0 10px;
    font-weight: 600;
    color: white;
}
#logo #logo-img {
    width: 60px;
    height: 60px;
}

#search-header {
    width: 50%;
    height: inherit;
    display: flex;
    align-items: center;
}
#search-header #search-container {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: white;
    border-radius: 8px;
    border: 2px #e5e8eb solid;
    padding: 7px;
}
#search-container #icon-search {
    padding: 0 5px;
}
#search-container form {
    width: inherit;
}
#search-container form input{
    width: inherit;
    outline: none;
    border: none;
    padding: 2px 2px 2px 8px;
}

#menu-header{
    height: inherit;
    width: 50%;
    display: flex;
    align-items: center;
}
#menu-header > ul {
    display: flex;
    align-items: center;
    width: 60%;
    padding: 0;
    height: inherit;
    margin: 0 0 0 10px;
    position: relative;
}
#menu-header > ul > li {
    list-style: none;
    height: inherit;
    width: 33.33%;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    color: white;
    font-weight: 600;
    line-height: 72px;
}
#menu-header > ul > li > a {
    text-decoration: none;
    font-size: 16px;
    font-weight: inherit;
    color: inherit;
}
#down-icon-more{
    padding-left: 10px;
}
#nav-more {
    width: 200px;
    position: absolute;
    top: 72px;
    right: 0;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: rgb(4 17 29 / 25%) 0 0 8px 0;
    visibility: hidden;
    transition: all ease-in-out 0.5s;
}
#nav-more ul {
    padding: 0;
}
#nav-more ul li {
    list-style: none;
    color: #04111dbf;
    font-size: 16px;
    font-weight: 600;
    line-height: 52px;
    text-align: left;
    padding: 0 0 0 20px;
    border-bottom: 1px #e5e8eb solid;
}
#nav-more ul li a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
}
#last-more-li {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    font-size: 20px !important;
}
#last-more-li a{
    padding-right: 10px;
}
#more-li {
    cursor: pointer;
}
#more-li:hover #nav-more {
    visibility: visible;
}
#nav-more ul li:hover {
    box-shadow: rgb(4 17 29 / 25%) 0 0 8px 0;
    color: black;
}
#menu-header #icon-list-header {
    width: 40%;
    height: inherit;
}
#menu-header #icon-list-header ul {
    width: 100%;
    height: inherit;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
#menu-header #icon-list-header ul li {
    list-style: none;
    width: 25%;
    height: inherit;
    line-height: 72px;
    text-align: center;
    font-size: 25px;
    color: white;
}
#menu-header #icon-list-header ul li a{
    text-decoration: none;
    color: white;
}
